html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

.container {
  height: 100vh;
  width: 100vw;
  color: white;
}

tbody, thead {
  color: white;
}

.form-label, .form-check-label {
  color: white;
}

.world-number-th {
  width: 15%;
}

.online-players-th {
  width: 15%;
}

.country-th {
  width: 20%;
}

.type-th {
  width: 15%;
}

.activity-th {
  width: 29%;
}

.is-pvp-th {
  width: 11%;
}

.is-pvp-tr {
  text-align: center;
}
